{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container">
    <section>
        <div id="imagenJuntos">
            <img src="{% static '/bodapp/images/caroymati_tulum.jpg' %}" alt="Caro y Mati" style="width:753px;height:400px;">
        </div>
        <div id="seccionBoda">            
            <div class="seccionBoda1">
                <p>Los invitamos a compartir nuestra boda <del>en Ramallo a las costas del río Paraná!</del> vía zoom!</p>
            </div>
            <div class="seccionBoda2">
                <div class="boda1">
                    <h3><del>CEREMONIA</del></h3>
                    <p><del>20:00 - 21:00</del></p>
                    <p><del>Moreno 965,</del></p>
                    <p><del>Ramallo, Buenos Aires</del></p>
                    <img src="https://laradioramallo.com.ar/11-2017/resize_1511185430.jpg" alt="">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.97950816893!2d-60.001242184240176!3d-33.475884280766735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b9fc9445b6a8a3%3A0xbd331ba31c28872c!2sComplejo%20Non%20Stop!5e0!3m2!1ses!2sar!4v1583891036011!5m2!1ses!2sar" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="boda2">
                    <h3><del>FIESTA</del></h3>
                    <p><del>21:00 - 05:00</del></p>
                    <p><del>Puerto,</del></p>
                    <p><del>Ramallo, Buenos Aires</del></p>
                    <img src="http://www.ramallociudad.com.ar/data/fotos2/bbx_779043929_1_16723098.jpg" alt="">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13310.4380754634!2d-60.0027769!3d-33.4855157!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7c87eeed9ff8830e!2sParroquia%20San%20Francisco%20Javier!5e0!3m2!1ses!2sar!4v1583890994647!5m2!1ses!2sar" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>           
        </div>
    </section>
</div>


{% endblock %}